form{
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
}

.name{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.age{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

submit{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}